body{
  font-family: 'Domine', serif;
  color: white;
  font-size: 2vw;
  background-color: #151515;
}

#logo, #logo-bg {
  left:0;
  top: 0;
  margin: 15%;
  margin-top: 5%;
  width: 70vw
}

#logo {
  left: 1%;
  top: .75%;
  position: absolute;
}

#title {
  margin-top: -8%;
  font-family: 'Play', sans-serif;
  font-size: 12vw;
  text-align: center;
}

#description {
  margin: 4%;
  font-size: 3vw;
  text-align: center;
}

#start {
  display: block;
  margin-top: 15%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 20vw;
  -moz-border-radius: 20vw;
  border-radius: 20vw;
  height: 20vw;
  width: 20vw;
  color: #FFFFFF;
  background-color: #BABABA;
  border: outset #E8E8E8 1.5vw;
  cursor: pointer;
}


#start:hover {
  background-color: #D0D0D0;
  background: -webkit-linear-gradient(top, #D0D0D0, #565657);
  background: -moz-linear-gradient(top, #D0D0D0, #565657);
  background: -ms-linear-gradient(top, #D0D0D0, #565657);
  background: -o-linear-gradient(top, #D0D0D0, #565657);
  background: linear-gradient(to bottom, #D0D0D0, #565657);
}